

 <footer class="row-footer">
      <div class="container">
         <div class="row">
            <div class="col-sm-2 col-sm-offset-1 col-xs-offset-1 col-xs-5 col-lg-2 col-lg-offset-1">
               <h5 style="color:#f2f2f2;opacity:.9;">Links</h5>
               <ul class="list-unstyled">
                  <li><a ui-sref="app">Home</a></li>
                  <li><a ui-sref="app.aboutus">About</a></li>
                  <li><a ui-sref="app.menu">Menu</a></li>
                  <li><a ui-sref="app.contactus">Contact</a></li>
               </ul>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6">
               <h5 style="color:#f2f2f2;opacity:.9;">Our Address</h5>
               <address>
                       Via Ponte Nuovo,99 <br>
                      37121 Verona<br>
                      Los Angeles<br>
                      <br>
                      
                      <i class="fa fa-fax"></i>: +800 3856 439<br>
                       <i class="fa fa-envelope-o"></i>:<a href="mailto:divyanshu.r46956@gmail.com"> divyanshu.r46956@gmail.com</a>
                   </address>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
               <div class="nav navbar-nav" style="padding: 40px 10px;">
                 <ul class="list-inline social-buttons">
                  <li id="special"><a class="btn btn-social-icon btn-google-plus" href="##"><i class="fa fa-google-plus"></i></a></li>
                  <li><a class="btn btn-social-icon btn-facebook" href="##"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="btn btn-social-icon btn-linkedin" href="##"><i class="fa fa-linkedin"></i></a></li>
                 <li> <a class="btn btn-social-icon btn-twitter" href="##"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a></li>
                    </ul>
               </div>
            </div>
               
            </div>
            <div class="col-md-12 col-xs-12">
            <p style="padding:10px;"></p>
            <p align="center" style="color:grey">© Copyright 2015 Divyanshu Rawat</p>
         </div>
         </div>
      </div>
   </footer>
