
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div id="navbar" class="navbar-collapse collpase">
         <ul class="nav navbar-nav">
            <li><a ui-sref="app">
               <span class="glyphicon glyphicon-home " aria-hidden="true"></span>Home</a>
            </li>
            <li id="#">
               <a  ui-sref="app.aboutus"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
            </li>

            <li class="dropdown">
               <a ui-sref="app.menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-bell"></i> Menu <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="#">Appetizers</a></li>
                  <li><a href="#">Main Courses</a></li>
                  <li><a href="#">Desserts</a></li>
                  <li><a href="#">Drinks</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Specials</li>
                  <li><a href="#">Lunch Buffet</a></li>
                  <li><a href="#">Weekend Brunch</a></li>
               </ul>
            </li>

            <li><a ui-sref="app.contactus"><i class="fa fa-envelope-o"></i> Contact</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a data-toggle="modal" data-target="#loginModal" href="#">
               <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
               
    

    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <p style="padding:40px;"></p>
                    <p style="color:black;">We take inspiration from the World's best cuisines, and create
                     a unique fusion experience. Our lipsmacking creations will 
                     tickle your culinary senses!</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/food.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>